.region #block-system-navigation {
  color: #1c0b1c;
}

div .container-inline {
  color: #b53c46;
}

#content .section {
  font-family: 'Lucida Sans','Lucida Grande',Sans-Serif;
}

#block-block-1 h2 {
  background-color: #235299;
}

